<!---
# ADS: Ayman Habib, Sam Lubelsky, Daniel Liu
# Softdev pd02
# k12
# 2022-10-17
# time spent: 0.3 hr
-->
<!DOCTYPE html>

<html>

  <head>
    <title> RESPONSE PAGE </title>
  </head>

  <body>
    <h1>
      Project ADS
    </h1>
    <h2>
       Greetings From Ayman Habib, Sam Lubelsky, Daniel Liu
    </h2>
    <h3>
      Welcome {{username}}!
    </h3>
    <h3>Cool Info</h3>
    <ul>
      <li>Determine Type of Method using request.method</li>
      <li>GET Method Will Show Info like Username in the URL.</li>
      <li>POST Method stores form data in the request.forms dictionary. Access Value of Username Using request.form['username']</li>
    </ul>
    <p>
        Your Request Method Was {{method}}
    </p>
    
  </body>

</html>