/*
# ADS: Ayman Habib, Sam Lubelsky, Daniel Liu
# Softdev pd02
# k13
# 2022-10-18
# time spent: 1.0 Hour
*/

html {
    background-color: #666666;
}

h1 {
    text-align: center;
    background-color: #bebebe;
    color: white;
    margin: 0;
}

h2 {
    margin: 0px;
}

body{
    background-color: #757776;
}
h3 {
    text-align: left;
    background-color: #757776;
    margin: 0px;
}

#nav-bar {
    color: white;
    font-weight: bold;
    padding-right: 75px;
    padding-left:10px;
    width:500px;
}

#bar-title {
    color: black;
}


#all-contents-foo{
  display:flex;
  justify-content: right;
}

footer {
    background-color: #565656;
    color: #6e6e6e;
    text-align: right;
    padding: 10px;
}